.btn-centraliza {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.botao-gradient{

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #000000;
  font-weight: bold; 
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, #4395ff, #fffb12, #f00808) 1;
  width: 20rem;

}