@charset "UTF-8";
:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --secondary-color: crimson;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #0A1128;
  border-radius: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 3rem;
}

.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th {
  background: var(--light-gray-color);
  color: #000;
}

header {
  background-color: #D9D9D9;
  position: fixed;
  width: 100%;
}

#header h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 3rem;
}

#header h2 span {
  color: red;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: #164567;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.6s ease-in-out;
}

a:hover::after {
  width: 100%;
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  #btn-mobile {
    display: block;
    cursor: pointer;
  }
  #menu {
    display: block;
    position: absolute;
    width: 75%;
    top: 70px;
    right: 0;
    height: 0px;
    z-index: 100000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: hidden;
    background-color: #D9D9D9;
  }
  #menu a {
    color: black;
    padding: 1rem 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid black;
  }
  #menu a:hover {
    background-color: black;
    color: #D9D9D9;
  }
  a::after {
    background-color: #fff;
  }
}
.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.form-content {
  background-color: #366273;
  padding: 3rem;
  color: #000;
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: #d9d9d9;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: rgba(0, 0, 0, 0.468);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

#footer {
  background-color: #d9d9d9;
  color: #000;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secondary-color);
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px) {
  .intro-content, .grid {
    grid-template-columns: 1fr;
  }
  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .gallery-img img {
    width: 100%;
  }
  .grid-one-content {
    display: block;
  }
  .menu {
    bottom: 0;
    text-align: center;
  }
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }
  .menu-content {
    height: 100vh;
  }
  .menu {
    display: none;
  }
  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  .close-menu:checked ~ .menu {
    display: block;
  }
  .close-menu:checked ~ .close-menu-label::after {
    content: "×";
  }
  .menu-spacing {
    display: none;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 3.4rem;
  }
  h4 {
    font-size: 3.2rem;
  }
  h5 {
    font-size: 3rem;
  }
  h6 {
    font-size: 2.8rem;
  }
}
.main-bg {
  background-image: url("../img/norway.jpg");
  background-size: cover;
  background-position: center center;
  color: #000;
}

.white-bg {
  background: #283040;
  color: #fff;
}

#home .main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bg-img {
  background-image: url("../img/boreal.jpg");
  color: #fff;
}

.bg-img2 {
  background-image: url("../img/sea.jpg");
}

.bg-img2 p {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.bg-img2 h2 {
  margin-bottom: 4rem;
}

.bg-img3 {
  background-image: url("../img/city.jpg");
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.btn-centraliza {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.botao-gradient {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #000000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, #4395ff, #fffb12, #f00808) 1;
  width: 20rem;
}

/*# sourceMappingURL=styles.css.map */
